<%- include("./partials/header") %>
<%- include("./partials/scroll") %>
<%- include("./partials/navbar") %>

<div class="container info text-center mx-auto">
    <h1>Gemstones</h1>
    <h4>Birthstones by Month</h4>

    

    <div class="card gem_info mx-auto">
        <div class="row">
            <div class="col-md-4">
                <div class="card card_gem mx-auto"> 
                    <div class="card_image">
                        <img class="card-img-top img-fluid" src="/images/d_g_i/January-Garnet-Small-3.png" alt="" width="125" height="125">
                    </div>      
                    <div class="card-body text-center">
                        <h5 class="card-title info_title">January</h5>
                        <p class="stone">Garnet</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card_gem mx-auto"> 
                    <div class="card_image">
                        <img class="card-img-top img-fluid" src="/images/d_g_i/February-Amethyst-Small.png" alt="" width="125" height="125">
                    </div>      
                    <div class="card-body text-center">
                        <h5 class="card-title info_title">February</h5>
                        <p class="stone">Amethyst</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card_gem mx-auto"> 
                    <div class="card_image">
                        <img class="card-img-top img-fluid" src="/images/d_g_i/March-Aquamarine-Bloodstone-Small.png" alt="" width="125" height="125">
                    </div>      
                    <div class="card-body text-center">
                        <h5 class="card-title info_title">March</h5>
                        <p class="stone">Aquamarine</p>
                        <p class="stone">Bloodstone</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card_gem mx-auto"> 
                    <div class="card_image">
                        <img class="card-img-top img-fluid" src="/images/d_g_i/April-Diamond-Small.png" alt="" width="125" height="125">
                    </div>      
                    <div class="card-body text-center">
                        <h5 class="card-title info_title">April</h5>
                        <p class="stone">Diamond</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card_gem mx-auto"> 
                    <div class="card_image">
                        <img class="card-img-top img-fluid" src="/images/d_g_i/May-Emerald-Small.png" alt="" width="125" height="125">
                    </div>      
                    <div class="card-body text-center">
                        <h5 class="card-title info_title">May</h5>
                        <p class="stone">Emerald</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card_gem mx-auto"> 
                    <div class="card_image">
                        <img class="card-img-top img-fluid" src="/images/d_g_i/June-Pearl-Moonstone-Alexandrite-Small.png" alt="" width="125" height="125">
                    </div>      
                    <div class="card-body text-center">
                        <h5 class="card-title info_title">June</h5>
                        <p class="stone">Pearl</p>
                        <p class="stone">Moonstone</p>
                        <p class="stone">Alexandrite</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card_gem mx-auto"> 
                    <div class="card_image">
                        <img class="card-img-top img-fluid" src="/images/d_g_i/July-Ruby-Small.png" alt="" width="125" height="125">
                    </div>      
                    <div class="card-body text-center">
                        <h5 class="card-title info_title">July</h5>
                        <p class="stone">Ruby</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card_gem mx-auto"> 
                    <div class="card_image">
                        <img class="card-img-top img-fluid" src="/images/d_g_i/August-Peridot-Spinel-Small.png" alt="" width="125" height="125">
                    </div>      
                    <div class="card-body text-center">
                        <h5 class="card-title info_title">August</h5>
                        <p class="stone">Peridot</p>
                        <p class="stone">Spinel</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card_gem mx-auto"> 
                    <div class="card_image">
                        <img class="card-img-top img-fluid" src="/images/d_g_i/September-Sapphire-Small.png" alt="" width="125" height="125">
                    </div>      
                    <div class="card-body text-center">
                        <h5 class="card-title info_title">September</h5>
                        <p class="stone">Sapphire</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card_gem mx-auto"> 
                    <div class="card_image">
                        <img class="card-img-top img-fluid" src="/images/d_g_i/October-Opal-Tourmaline-Small.png" alt="" width="125" height="125">
                    </div>      
                    <div class="card-body text-center">
                        <h5 class="card-title info_title">October</h5>
                        <p class="stone">Opal</p>
                        <p class="stone">Tourmaline</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card_gem mx-auto"> 
                    <div class="card_image">
                        <img class="card-img-top img-fluid" src="/images/d_g_i/November-Topaz-Citrine-Small.png" alt="" width="125" height="125">
                    </div>      
                    <div class="card-body text-center">
                        <h5 class="card-title info_title">November</h5>
                        <p class="stone">Topaz</p>
                        <p class="stone">Citrine</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card_gem mx-auto"> 
                    <div class="card_image">
                        <img class="card-img-top img-fluid" src="/images/d_g_i/December-Turquoise-Tanzanite-Zircon-Small.png" alt="" width="125" height="125">
                    </div>      
                    <div class="card-body text-center">
                        <h5 class="card-title info_title">December</h5>
                        <p class="stone">Turquoise</p>
                        <p class="stone">Tanzanite</p>
                        <p class="stone">Zircon</p>
                        <p class="stone">Blue Topaz</p>
                    </div>
                    
                </div>
            </div>


        </div>
    </div>
</div>  


<%- include("./partials/footer") %>