<%- include("./partials/header") %>
<%- include("./partials/scroll") %>
<%- include("./partials/navbar") %>

<div class="container info jewel text-center mx-auto">
    <h1>Jewelry</h1>
    <h4>Many Different Styles</h4>
    <p>Click to zoom!</p>

    <section id="rings">
        <div class="card jewl_info mx-auto">
            <h3>Ladies Ring Styles</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/4prong.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">4-prong</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl" >
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/6prong.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">6-prong</p>
                        </div> 
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/3stone.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Three Stone</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/side_stones.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">With Accent Side Stones</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/halo.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Halo</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/cluster.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Cluster</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/waterfall.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Waterfall</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/band.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Band</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="shanks">
        <div class="card jewl_info mx-auto">
            <h3>Ring Shank Styles</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/solitaire.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Solitaire</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl" >
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/cathedral.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Cathedral</p>
                        </div> 
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/bypass.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Bypass</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/split_shank.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Split Shank</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="earrings">
        <div class="card jewl_info mx-auto">
            <h3>Earring Styles</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/studs.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Studs</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl" >
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/lever.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Lever Back</p>
                        </div> 
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/dangle.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Dangle</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/hoops.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Hoops</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="necks">
        <div class="card jewl_info mx-auto">
            <h3>Necklace Styles</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/pendant.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Pendant</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl" >
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/station.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Station</p>
                        </div> 
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/lariat.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Lariat</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/chain.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Chain</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="bracelets">
        <div class="card jewl_info mx-auto">
            <h3>Bracelet Styles</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/link.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Link</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl" >
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/bangle.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Bangle</p>
                        </div> 
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/cuff.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Cuff</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/line.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Line</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="settings">
        <div class="card jewl_info mx-auto">
            <h3>Setting Styles</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/prong.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Prong</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl" >
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="images/d_g_i/bezel.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Bezel</p>
                        </div> 
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/pave.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Pave</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/channel.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Channel</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="metals">
        <div class="card jewl_info mx-auto">
            <h3>Precious Metals</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/plat.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Platinum</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl" >
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/yellow.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Yellow Gold</p>
                        </div> 
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/plat.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">White Gold</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 card_jewl">
                    <div class="card card_gem mx-auto"> 
                        <div class="card_image zoom">
                            <img class="card-img-top img-fluid" src="/images/d_g_i/rose.jpeg" alt="" width="125" height="125">
                        </div>      
                        <div class="card-body text-center">
                            <h5 class="card-title info_title"></h5>
                            <p class="jwlry">Rose Gold</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<%- include("./partials/footer") %>