<%- include("./partials/header") %>
<%- include("./partials/scroll") %>
<%- include("./partials/navbar") %>

<div class="container login text-center">

    <!-- <h1 class="p_span login_title text-center new_title">Register</h1> -->

    <h4  class="login_head" id="please_login">Please Register to see our Blog!</h4>


    <form action="/register" method="POST">
        <div class="form-group login">
          <label for="username">Username</label>
          <input class="form-control new_form" id="username" type="text" name="username" placeholder="">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control new_form" id="password" type="password" name="password" placeholder="">
        </div>
        <div>
            <button class="new_form btn btn-outline-light btn-lg card_btn login_reg btn_reg">Register</button>
        </div>
    </form>

</div>


<%- include("./partials/footer") %>
